
#Skills {
  display: flex;
}

.title {
  display: flex;
  justify-content: center;
}

.iconeLinguaggioProg{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.LinguaggioProg {
  width: 15%;
  height:  15%;
}


@media only screen and (max-width: 1069px) { 
#Skills{
  display: flex;
  flex-direction: column  ;
      column-gap: 10px 
    }
}
