@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200');
#home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;

  box-sizing: border-box;
  margin-top: 0;
  margin-left: 0;
}

#ProPic {
  height: 25rem;
  width: 25rem;
}

.descrizione h1,
.descrizione h2 {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
}
.homeButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.projectButton {
  border-radius: 50px;

  background-color: transparent;

  font-family: "Smooch", cursive;
  font-size: larger;

  transition: transform 0.3s ease-in-out;
}
